body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    width: 90%;
    margin: auto;
    background-color: white;
    padding: 15px;
}

header {
    background-color: #090303;
    color: white;
    text-align: center;
    padding: 15px;
}

.banner img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 15px 0;
    shape-outside: circle(80%);
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: #3b8cca;
    padding: 10px;
    border: 1px solid #ccc;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

.offer {
    font-weight: bold;
    background-color: #f8f8f8;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    background-color: #b8e6a8;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.buttons button:hover {
    background-color: #268a07;
}